body {
    margin : 0;
    padding: 0;
    font-family:"calibri",sans-serif;
    background-image: url(../Images/fondAjout.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
/*    -webkit-background-size: cover;*/
 }

.form-area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 620px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  padding: 40px;
}

h1, p{
  padding: 0 0 20px;
  margin: 0;
  color : #ffffff;
  text-align: center;
}


.form-area p{
  margin : 0;
  padding: 0;
  color : #ffffff;
  margin-bottom: 20px;
}

.form-area input, select{
  margin-bottom: 20px;
  width: 100%;
}


.form-area input[type=text], .form-area input[type=number]{
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  height: 40px;
  color: #ffffff;
}

label{
  color: #ffffff;
  font-weight: bold;
}

.form-area input[type=submit]{
  border : none;
  height: 40px;
  color: #ffffff;
  font-size: 15px;
  background-color: tomato;
  cursor: pointer;
}

.form-area input[type=submit]:hover{
  background-color: lightgreen;
}

::placeholder{
  color: lightgrey;
}

.btn {
  background: rgba(0,0,0,0.6);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 17px; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
